* {
    font-family: 'Roboto Slab', serif;
}

:root {
    --yellow: #FFB703;
    --orange: #FB8500;
    --darkblue: #023047;
    --blue: #219EBC;
    --lightblue: #8ECAE6;
}

#dividing-line {
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid;
    border-width: 1px;
    border-color: var(--darkblue);
}

.columns .box {
    background-color: var(--yellow);
    min-height: 25vh;
}



#box5 {
    margin: 0px 0px 24px;
    background-color: var(--yellow);
} */

#search-area .button {
    margin-top: 1vh;
    color: white !important;
    background-color: var(--darkblue) !important;
}

#todays-city {
    border: solid;
    border-color: var(--darkblue);
    color: white;
    background-color: var(--blue);
    border-width: 1%;
    border-radius: 20px;
    min-height: 30vh;
    margin-bottom: 1em;
}

#city-name-date:empty {
    content: attr(data-placeholder);
}

[id^='button'] {
    color: var(--darkblue);
    background-color: var(--lightblue);
}

/* .button {
    font-family: 'Roboto Slab', serif;
} */

#button {
    font-family: 'Roboto Slab', serif;
    color: var(--darkblue);
    background-color: var(--lightblue);
}

/* #button-one {
    color: var(--darkblue);
    background-color: var(--lightblue);
}

#button-two {
    color: var(--darkblue);
    background-color: var(--lightblue);
}
#button-three {
    color: var(--darkblue);
    background-color: var(--lightblue);
}
#button-four {
    color: var(--darkblue);
    background-color: var(--lightblue);
}
#button-five {
    color: var(--darkblue);
    background-color: var(--lightblue);
}
#button-six {
    color: var(--darkblue);
    background-color: var(--lightblue);
}
#button-seven {
    color: var(--darkblue);
    background-color: var(--lightblue);
}
#button-eight {
    color: var(--darkblue);
    background-color: var(--lightblue);
}
#button-nine {
    color: var(--darkblue);
    background-color: var(--lightblue);
}
#button-ten {
    color: var(--darkblue);
    background-color: var(--lightblue);
} */

#header {
    background-color: var(--darkblue);
    color: white;
}